<!DOCTYPE html>
<html lang="en">
<head>
<title>Login V15</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="static/css/util.css">
<link rel="stylesheet" type="text/css" href="static/css/mainlogin.css">
<!--===============================================================================================-->

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>

</head>
<body>

	<div class="limiter" id="login">
		<div class="container-login100">
			<div class="wrap-login100"
				style="box-shadow: 1px 5px 8px 8px #888888;">
				<div class="login100-form-title"
					style="background-image: url(static/img/bg-01.jpg);">
					<span class="login100-form-title-1"> REGISTER </span>
				</div>
				<div class="container-fluid">
					<div th:if="${saveUser eq 'success'}"
						class="alert alert-success alert-dismissable text-center">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<i class="fa fa-check fa-2x"></i> <strong>User registered
							Successfully</strong> Please Login
					</div>
				</div>
				<div class="container-fluid">
				<div th:if="${saveUser eq 'exist-name'}"
					class="alert alert-danger alert-dismissable text-center">
					<button type="button" class="close" data-dismiss="alert" 
						aria-hidden="true">&times;</button>
					<i class="fa fa-exclamation-triangle fa-2x"></i><strong>Error!</strong> User name already used !!!
				</div>
				</div>
				<div  class="container-fluid">
				<div th:if="${saveUser eq 'unmatched password'}"
					class="alert alert-danger alert-dismissable text-center">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<i class="fa fa-exclamation-triangle fa-2x"></i><strong>Error!</strong> Password and Confirm password not match !!!
				</div>
				</div>
				
				<div class="container-fluid">
				<div th:if="${saveUser eq 'exist-email'}"
					class="alert alert-danger alert-dismissable text-center">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<i class="fa fa-exclamation-triangle fa-2x"></i><strong>Error!</strong> User email already used !!!
				</div>
				</div>
				<div class="container-fluid">
				<div th:if="${saveUser eq 'fail'}"
					class="alert alert-danger alert-dismissable text-center">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
					<i class="fa fa-exclamation-triangle fa-2x"></i><strong>Error!</strong> Unexpected error !!!
				</div>
				</div>
				<form id="registerForm" th:object="${reqUser}"
					th:action="@{/user/register}" method="post"
					class="login100-form validate-form">


					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Empl0yee Name is required">
						<span class=" label-input100"><i class="fa fa-smile-o" style="color:#ffd600;text-shadow: 1px 1px 1px #333;font-size:35px;" ></i></span> <input
							class="input100" th:field="*{username}" type="text"
							name="register_username" placeholder="Enter User Name" required> <span
							class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Position is required">
						<span class="label-input100"><i class="fa fa-envelope-o" style="color:blue;text-shadow: 1px 1px 1px #333;font-size:35px;" ></i></span> <input class="input100"
							th:field="*{email}" type="email" name="register_email"
							placeholder="Enter Email" required> <span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Username is required">
						<span class="label-input100"><i class="fa fa-unlock-alt" style="color:#111;text-shadow: 1px 1px 1px #333;font-size:35px;" ></i></span> <input
							class="input100" th:field="*{password}" type="password" 
							name="register_password" placeholder="Enter Password" required> <span
							class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18"
						data-validate="Password is required">
						<span class="label-input100"><i class="fa fa-unlock-alt" style="color:#555;text-shadow: 1px 1px 1px #333;font-size:35px;" ></i></span> <input
							class="input100" th:field="*{password_2}" type="password" 
							name="register_cpassword" placeholder="Confirmpassword" required> <span
							class="focus-input100"></span>
					</div>



					<div class="container-login100-form-btn ">
						<button onclick="myFunction()" type="submit" value="Register" class="login100-form-btn ">
							REGISTER</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a
							th:href="@{/backtologin}" id="btn_login"> Back to Login </a>
					</div>
					<div id="snackbar">Some text some message..</div>
				</form>
			</div>
		</div>
	</div>

	<script>
function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>


<!-- Central Modal Medium Danger -->
<div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Modal Danger</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis
            ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,
            ab officiis totam.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-danger">Get it now <i class="far fa-gem ml-1 text-white"></i></a>
        <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Danger-->

<!--  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta name="description" content="spring-boot thymeleaf | Register ">
    <div th:replace="fragments/header :: header-login-css"></div>
</head>
<body>
<br/>
<hr/>
<div class="separator"></div>
<div class="row">
    <div class="container">
        <div class="login-register-form-section">
            <ul class="nav nav-tabs" role="tablist">
                <li class="col-xs-6"><a th:href="@{/login}">Login</a></li>
                <li class="col-xs-6"><a class="active" href="#register" data-toggle="tab">Register</a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="register">

                    <div th:if="${saveUser eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>User registered Successfully</strong> Please Login
                    </div>

                    <div th:if="${saveUser eq 'exist-name'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User name already used !!!
                    </div>
                    <div th:if="${saveUser eq 'exist-email'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> User email already used !!!
                    </div>
                    <div th:if="${saveUser eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;</button>
                        <strong>Error!</strong> Unexpected error !!!
                    </div>

                    <form id="registerForm" th:object="${reqUser}" th:action="@{/user/register}" method="post"
                          class="form-horizontal">
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input th:field="*{username}" type="text" name="register_username"
                                       class="form-control" placeholder="Username"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input th:field="*{email}" type="email" name="register_email" class="form-control"
                                       placeholder="Email"
                                       required="required" value=""/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{password}" type="password" name="register_password"
                                       class="form-control" id="password"
                                       placeholder="Password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input th:field="*{password_2}" type="password" name="register_cpassword"
                                       class="form-control" id="confirm_password"
                                       placeholder="Confirm Password" required="required"/>
                            </div>
                        </div>
                        <input type="submit" value="Register" class="btn btn-success btn-custom"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footerSeparator"></div>

<footer>
    <div th:replace="fragments/footer :: footer">&copy; 2016 ibrahim Karayel</div>
</footer>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script>
    var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</body>
</html>-->