<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Processing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Rendering Sample Career Data</p>
       <div>
           <h2 th:text="${career.position}"></h2>
           <h3>Qualifications</h3>
           <ul>
               <th:block th:each="qualification: ${career.qualifications}">
                   <li th:text="${qualification.description}"></li>
               </th:block>
           </ul>
       </div>
       <div>
           <p>Submit Resume</p>
       </div>
</body>
</html>